*{
    background-color: aqua;
}
#html{
    color:blue;
    background-color: rgb(42, 165, 73);


}
a{
    
    /* margin-right: 30px; */
    text-decoration:double;
    
    /* margin-right: 30px;
    padding: 4px; */
    color: yellowgreen;
    }